<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Exam", exam_dates_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if !user_signed_in? %>
          <li class="nav-item">
            <%= link_to "For Admin",  user_session_path, class:"nav-link active" %>
          </li>
        <% else %>
          <li class="nav-item">
           <%= link_to "Sign Out",  destroy_user_session_path, method: :delete, class:"nav-link active" %>
          </li>
        <% end %>  
      </ul>
      <form class="d-flex" action="/search">
        <input class="form-control me-2" name="q" type="text" placeholder="Enter Student's Name">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>